@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Open Sans", "Times New Roman";
  line-height: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* a {
  color: blue;
  text-decoration: underline;
} */

h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 15px;
}

.webpage {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.homepage {
}

.homepageHeader {
  position: "fixed";
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.navBarElement {
  padding: 0.5em;
  margin: 1em;
  font-size: 20px;
  color: black;
}

.homepageNavigation {
  margin-top: 1em;
}
